@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        gap: 20px;
    }
    .parent2{
        flex-direction: column;
        gap: 25px;
    }
    .parent{
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        width: 200px;
        position: absolute;
        left: 15%;
        top: 40%;
        margin-top: 0px;
    }
    .explore{
        font-size: 30px;
        font-weight: 800;
        color: rgba(255, 255, 255, 1);
        /* position: absolute; */
        /* top: 100px;
        right: 287px;
        bottom: 320px;
        left: 287px; */
        padding-top: 10px;
    }
    .details{
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        /* position: absolute;
        top: 210px;
        right: 247px;
        bottom: 238px;
        left: 247px; */
        margin: 4px 5px;
    }
    .our-tours-banner{
        flex-direction: column;
        width: 100%;
        max-width: 600px;
    }
    .img{
        /* max-width: 600px; */
        width: 80px;
    }
    .simple-perfect-place{
        max-width: 600px;
        width: 100%;
        margin: 100px auto;
        flex-direction: column;
    }
    .cards{
        max-width: 350px;
        width: 100%;
        max-height: 450px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 16px;  
        padding: 15px;
        margin: 10px;
        position: absolute;
    }
    .card2{
        flex-direction: column;
        align-items: start;
    }
    .cards2{
        background-image: url(Images/Group\ 40.png);
        max-width: 600px;
        width: 100%;
        height: 500px;
        position: relative;
    }
    .cards2 .cards{
        max-width: 350px;
        width: 100%;
        max-height: 450px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 16px;
        margin: 10px;  
        padding: 15px;
    }
    .card1{
        background-image: url(Images/Group\ 39.png);
        background-repeat: no-repeat;
        max-width: 600px;
        width: 100%;
        height: 500px;
        position: relative;
    }
    .newsletter{
        max-width: 600px;
        width: 80%;
        /* margin: 100px auto; */
        flex-direction: column;
        gap: 30px;
    }
    hr{
        margin: 50px 28px;
    }
    .newsletter2{
        width: 80%;
    }
    .save-img{
        width: 100%;
    }
    .save-img img{
        margin-left: 0px;
    }
    .place-title{
        width: 100%;
        text-align: center;
    }
    .save{
        width: 160px;
        height: 60px;
        bottom: 14%;
        left: 80px;
        transform: rotate(-18deg);
    }
    .travel{
        font-size: 12px;
    }
    .save-up{
        font-size: 16px;
    }
    .place-img{
        width: 100%;
        height: 300px;
        margin: 20px 10px 0 0;
    }
}